.App {
  text-align: center;
  /* background-color: black;
  color: white; */
  font-family: 'Noto Sans KR', sans-serif;

  display: flex;
  height: 100vh;
  overflow: hidden;
}

.App-info {
  width: 280px;
  padding: 10px;
}

.App-clock {
  font-size: 90px;
  line-height: 1;
  margin: 0;
}

.App-wall {
  flex: 1;
  background-image: url('https://lh3.googleusercontent.com/OWUpnretTxuLjLojHxsUyKGpjhZc6y0YjyqqFB1_ZhWP5RkwLB4f45lkbVPBh2EvoswFa2G3UbYRfLP-x3duPvP6TYWZySknecNvi9QTlZKOgNrMZ5e7jqJViBhmfBsYD7g_T34BESSIxUQvscdembN4DWxxjx29sAMhq5fN3h3NJ4s78rTUFfdGw-pQZe_m7rew5-Lg5kYBHdmFYyd78Dq8r1dmAPETfFeoqNHbQ_zjpMpnSiTx1hysHFIC4EhxtJ6UlyGEuyDwjHvTt8VV91jx5y9ZMl4vCb6-7EuZmmqSp6nlrRtiAbshU2wQixlClJOYmVlOUdfMKiCCiC3BclyLy9TIqQSnZkbQCwvEI2IeE0IPXd17vbINTPoudA8TyqmfNRq1J2MJNjhvR93x4NuzOmuIgYvaLXRyQgTz0PoPCfmKoApEKbvnlFivYWK1MXeDyLHWbzndZPonzrEEpzxHxjtZEjYlvHCSkXxig8wBbh1TQM9HfzzIA4ARvSF8YDgOLD9ZrKoZfwlZpv4WgFHvNjnVRhu4kJuYlGS472FLdAtlB1mIk17IJzvT023mDNLLdImG2ZJifXIJvXX8ob1a4FpQosDW-W__Z8HN34jh2zRXAVGQ6DSAAe65EVG6GKJTEEwyMhIsbj91VHtIdvCtjw=w1504-h2006-no');
  background-size: cover;
}

.App p {
  font-size: 20px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
